[submodule "kaggle-titanic-python-solution"]
	path = kaggle-titanic-python-solution
	url = https://github.com/srimugunthan/kaggle-titanic-python-solution
[submodule "SoftmaxMultinomialRegression"]
	path = SoftmaxMultinomialRegression
	url = https://github.com/srimugunthan/SoftmaxMultinomialRegression.git
[submodule "LogisticRegressionImple"]
	path = LogisticRegressionImple
	url = https://github.com/srimugunthan/LogisticRegressionImple.git
[submodule "Handwritten-Digit-Recognition-on-MNIST-dataset"]
	path = Handwritten-Digit-Recognition-on-MNIST-dataset
	url = https://github.com/srimugunthan/Handwritten-Digit-Recognition-on-MNIST-dataset
[submodule "WeightLiftPredict"]
	path = WeightLiftPredict
	url = https://github.com/srimugunthan/WeightLiftPredict
[submodule "modelOnQOSStats"]
	path = modelOnQOSStats
	url = https://github.com/srimugunthan/modelOnQOSStats
[submodule "PredictFootballMatch"]
	path = PredictFootballMatch
	url = https://github.com/srimugunthan/PredictFootballMatch
[submodule "VisualisationExPractice"]
	path = VisualisationExPractice
	url = https://github.com/srimugunthan/VisualisationExPractice
[submodule "Toxic-comments-multilabelPred"]
	path = Toxic-comments-multilabelPred
	url = https://github.com/srimugunthan/Toxic-comments-multilabelPred
[submodule "Covid-India-districtwise-coloring"]
	path = Covid-India-districtwise-coloring
	url = https://github.com/srimugunthan/Covid-India-districtwise-coloring
[submodule "kedroprojectstarters"]
	path = kedroprojectstarters
	url = https://github.com/srimugunthan/kedroprojectstarters
[submodule "forecast-sales"]
	path = forecast-sales
	url = https://github.com/srimugunthan/forecast-sales
[submodule "RL-essential-algorithms-practice"]
	path = RL-essential-algorithms-practice
	url = https://github.com/srimugunthan/RL-essential-algorithms-practice
[submodule "Computer-vision-essential-projects"]
	path = Computer-vision-essential-projects
	url = https://github.com/srimugunthan/Computer-vision-essential-projects
[submodule "ml-algos-from-scratch"]
	path = ml-algos-from-scratch
	url = https://github.com/srimugunthan/ml-algos-from-scratch
[submodule "DS_StatisticsQuestions"]
	path = DS_StatisticsQuestions
	url = https://github.com/srimugunthan/DS_StatisticsQuestions
[submodule "abtest-howto"]
	path = abtest-howto
	url = https://github.com/srimugunthan/abtest-howto
[submodule "movie-recommender-12-techniques"]
	path = movie-recommender-12-techniques
	url = https://github.com/srimugunthan/movie-recommender-12-techniques
[submodule "analysis-methods"]
	path = analysis-methods
	url = https://github.com/srimugunthan/analysis-methods
[submodule "noisylossf_evaluation"]
	path = noisylossf_evaluation
	url = https://github.com/srimugunthan/noisylossf_evaluation
[submodule "bbc-text-classification"]
	path = bbc-text-classification
	url = https://github.com/srimugunthan/bbc-text-classification
[submodule "spark_snippets"]
	path = spark_snippets
	url = https://github.com/srimugunthan/spark_snippets
[submodule "Modelexplainability-session"]
	path = Modelexplainability-session
	url = https://github.com/srimugunthan/Modelexplainability-session
[submodule "post-modelling-analysis"]
	path = post-modelling-analysis
	url = https://github.com/srimugunthan/post-modelling-analysis/
